.itemCart{   
    display: flex;
    justify-content: center;
    border-bottom: 1px solid cornsilk;
    max-width: 500px;
    
}

.itemCart{  
    height: 120px;
    width: 900px;
    margin-right: 1rem;
}